<script src="//unpkg.com/rxjs/bundles/rxjs.umd.min.js"></script>
<script>
const { range } = rxjs;
const { map, filter, debounceTime } = rxjs.operators;

const shiftPress$ = rxjs.fromEvent(document, 'keydown')
  .pipe(
    filter(({ key }) => key === 'Shift')
  )
  

const shiftDoublePress$ = shiftPress$.pipe(debounceTime(600))

shiftDoublePress$.subscribe(count => {
  console.log('双击shift，激活搜索框')
  const event = new MouseEvent('click', {
    view: window,
    bubbles: true,
    cancelable: true
  })
  const searchDiv = document.getElementsByClassName('popup-trigger')[0];
  searchDiv.dispatchEvent(event)
})
</script>
