<div>
由 <a href="https://hexo.io/">Hexo</a> & <a href="https://theme-next.js.org/">NexT.Gemini</a> & <a href="https://www.upyun.com/?utm_source=lianmeng&utm_medium=referral" style="border: none;"><img src="/images/upyun.png" alt="又拍云" width="80px" style="display: inline; vertical-align: middle;"/></a>强力驱动
</div>
<div id="beian">
  <a href="https://beian.miit.gov.cn" rel="noopener external nofollow noreferrer" target="_blank" class="exturl" title="">京 ICP 备 18012168 号 - 5</a>
</div>
<script>
  var domain = document.domain;
  if (domain == 'localhost') {
    document.getElementById('beian').getElementsByTagName('a')[0].innerText = '京ICP备 18012168号';
  }
  if (domain == '0xl2oot.cn') {
    document.getElementById('beian').getElementsByTagName('a')[0].innerText = '京ICP备 18012168号-1';
  }
  if (domain == 'yonghong.tech') {
    document.getElementById('beian').getElementsByTagName('a')[0].innerText = '京ICP备 18012168号-5';
  }
</script>